* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    margin: 5%;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }
  
  #results-list {
    list-style-type: none;
  }